.main{
    margin-left: 50px;
}
.create-groups-container{
    border: 1px solid #e5e7eb;
    max-width: 800px
}
.create-groups-container input {
    border: 1px solid #D3D3D3;
}

.create-groups-container input:focus {
    outline: none;
    box-shadow: none;
}
.btn-outline-secondary{
    background-color: #f5f5f5;
    border: 1px solid #e2e8f0;
    color: #1a1a2e;
}
.btn-outline-secondary:hover{
    background-color: #f5f5f5;
    border: 1px solid #e2e8f0;
    color: #1a1a2e;
}
.button-group {
    gap: 30%;
}



@media (max-width: 900px) {
    .main {
        margin-left: 0;
    }
    .create-groups-container {
        margin: 0 auto;
        width: 90vw;
        max-width: 96vw;
    }
    .button-group {
        gap: 2rem;
    }
    .button-group .btn {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    .create-groups-container h3 {
        font-size: 1.2rem;
    }
    .create-groups-container h5 {
        font-size: 1rem;
    }
    .create-groups-container label,
    .create-groups-container input,
    .create-groups-container select,
    .create-groups-container p,
    .create-groups-container small {
        font-size: 0.95rem;
    }
}
@media (max-width: 600px) {
    .col-5 {
        flex-direction: column;
    }
    .create-groups-container h3 {
        font-size: 1rem;
    }

    .create-groups-container h5 {
        font-size: 0.9rem;
    }

    .create-groups-container label,
    .create-groups-container input,
    .create-groups-container select,
    .create-groups-container p,
    .create-groups-container small {
        font-size: 0.85rem;
    }
    .button-group {
        gap: 1rem;
    }
    small{
        display: none;
    }
    .right-input{
        margin-bottom: 15px;
    }
    .button-group .btn {
        font-size: 0.7rem;
        padding: 5px 8px;
    }
    button.btn.btn-outline-primary{
        display: none;
    }
}
/* Custom styling for checkboxes with .checkInput */
.checkInput {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #2C3690;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-right: 8px;
    outline: none;
}

.checkInput:checked {
    border-color: #2C3690;
    background-color: #2C3690;
}

.checkInput:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    pointer-events: none;
}
.form-check{
    display: flex;
}
.advanced-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.cursor-none {
    cursor: default !important;
}