.mainbtn{
    color: #fff;
    background-color: #2C3690;
}
.mainbtn:hover {
    background-color: #222b7a;
    color: #fff;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;;
}

select:focus{
    outline: none!important;
    box-shadow: none!important; 
}


input:focus,
textarea:focus{
    outline: none!important;
    box-shadow: none!important;
    border-color: #2C3690;
    background: #fff;
}
@media (max-width: 900px) {
    .modal-backdrop {
            top: 10%;
            width: 90vw;
            left: 50%;
            transform: translateX(-50%);
        }
}
@media (max-width: 600px) {
    .modal-backdrop {
        top: 10%;
    }
}