.sidebar {
    border-right: 1px solid #e5e7eb;
}
.sidebar-links{
    margin-top: 50px;
}
.sidebar-links li a {
    display: block;
    padding: 7px;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    color: #737373;
    font-size: 16px;
}

.sidebar-links li a:not(.active-link):hover {
    background-color: #2c36902c;
    color: #1a1a2e;
    text-decoration: none; 
}
.active-link {
    background-color: #2C3690;
    text-decoration: none;
    color: white !important; 
}
